:root {
    --cam:#fc7c19;
}
.border-bottom{
    border-bottom: 1px solid #fc7c19;
}
.border-all{
    border: 1px solid #fc7c19;
}
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    /* background-color: black;
    color: #fff; */
    font-size: 16px;
}
table{
    border-collapse: collapse;
}
input{
    padding: 7px;
}
.display-block{
    display: block;
}
.text-center{
    margin-left: auto;
    margin-right: auto;

}
a,a:hover{
    text-decoration: none;
    color: black;
    font-size: unset;
}
.product_title h3{
    font-size: 1em;
}
.btn-custom{
    background-color: black;
    color: var(--cam);
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    padding: 7px 15px;
    border: none;
    text-transform: uppercase;
}
.btn-custom a{
    text-decoration: none;
    color: black;
}
.btn-custom:hover{ 
    background-color: #fc7c19;
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition: 0.5s;
}

.btn_pro{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
/* .btn-pay{
    margin-bottom: 100px;
} */


.btn-white{
    background-color: var(--cam);
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    padding: 7px 15px;
    border: none;
    text-transform: uppercase;
}
.btn-white:hover{
    background-color:black;
    color: #fc7c19;
    font-size: 1em;
    font-weight: bold;
}
 /* css  page header */
.page_header{
    border-bottom: 1.5px solid gray ;
}    
    /*css menu*/

    .bgc{
        background-color: var(--xam);
    }
    .display-r{
        /* display:inline-block; */
        box-sizing: border-box;
        overflow: hidden;
    }
    .menu-pc{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        /* background-color: #000; */
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        box-sizing: border-box;
    }
    .rounded-circle{
        width: 200px;
    }
    img.logo{
        border-radius: 50%;
        background-color: black;
        width: 50px;
        height: 50px;
    }
    .main-menu-left,.main-menu-right{
        background-color: var(--cam);
        width: max-content;
    }
    .main-menu-left{
        margin-right: 25px;
    }
    .main-menu-right{
        margin-left: 25px;
    }
    .main-menu-left ul li,.main-menu-right ul li{
        list-style: none;
        display: inline-block;
        padding: 10px
    }
    .main-menu-left a,.main-menu-right ul li a{
        text-decoration: none;
        color: black;
        
        font-size: 16px;
    }
    .circle-left{
        background-color: var(--cam);
        height: 50px;
        width: max-content;
        border-bottom-right-radius: 50px;
        border-top-right-radius:50px;
        /* position: absolute;
        left: 0px; */
    }
    .circle-right{
        background-color: var(--cam);
        height: 50px;
        width: max-content;
        border-bottom-left-radius: 50px;
        border-top-left-radius:50px;
        float: right;
    }
    
    /* end css menu */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.khung_img{
	overflow: hidden;
	/* box-sizing: border-box; */
}
.khung_img>img{
	width: 100%;
	margin: 0px auto;
	transition: 1.4s;
/* 	overflow: hidden;
	box-sizing: border-box; */
}
.khung_img>img:hover {
	transform: scale(1.7)
}
/* reponsive menu */
@media screen and (max-width: 768px){
	.menu-pc,.page_carousel{
		display: none;
	}
	.menu-mobile{
		display: block;
	}
	
}
@media screen and (min-width: 1024px){
	.menu-mobile{
		display: none;
	}
}

/* css-footer&copyright */

.copyright{
    background-color: black;
    color: white;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    margin-top: 30px;
}
.copyright span{
    color: #fc7c19;
}


.title_buy h4{ 
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}
.option_buy{
    padding-top: 30px;
    padding-left: 0px;
}
.product_promotion{
        border: var(--cam) solid 1px;
        border-radius: 4px;
        padding: 10px 0 0;
        position: relative;
        overflow: visible;
        margin: 20px 0;
        float: left;
        width: 100%;
}
.promotion_header {
    font-size: 1.5em;
    padding-left: 5px;
    padding-bottom: 0px;
}
.promotion_details h4{
    font-size: 1.1em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.prom_detail ul{
    margin-bottom: 0px;
    color: black;

}
.prom_detail ul li{
    list-style: none;
    text-decoration: none;
}
.prom_detail ul li a{
    color: black;
}
.product_situation{
    display: block;
}
.product_situation h5{ 
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
}
.product_situation h6{ 
    font-size: 1.1em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.product_situation span{
    padding-left: 5px;
    display: block;
    padding-top: 5px;
}
/* .product_title h3, .product_title i{
    font-size: 1.5em;
}
.product_title i{
    font-size: 1.1em; */
/* css product     */
.cus-breadcrumb{
    border-bottom: 0.5px solid black;
}
.breadcrumb{
    background-color: white;
    border: none;
    margin-bottom: 0px;
}
.breadcrumb-item a{
    color: black;
}
.product_photo{
    margin-top: 30px;
}
.product_photo img{
    width: 100%;
    height: 100%;
}
.car-container{
    margin-top: 15px;
}
/* end css */
/* contact */
.gg-map{
    /* width: 80%; */
    border: 1px solid #fc7c19;
    padding: 7px;
    margin-bottom: 30px;
}
.gg-map:hover{
    opacity: 5;
}
.gg-map iframe{
    width: 100%;
    height: 250px;
}
.btn-search{
    width: 30px;
    padding: 5px;
}
.city{
    display: none;
}
 .lh_mem span{
    display: block;
 }
/* end contact */
/* iphone css */
:root {
    --cam:#fc7c19;
}

.product-anh{
    width: 100%;
    overflow: hidden;
    height: 200px;
    width: 100%;
}
.product-name span{
    font-size: 16px;
    font-weight: bold;
}
.demo{
    width: 150px;
}
.demo ul li a{
    background-color: black;
    color: var(--cam);
    font-size: 16px;
}
.demo ul li:hover a{
    background-color: white;
    color: var(--cam);
    font-size: 17px;
    font-weight: bold;
}
/* end iphone css */
/* member css */
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.left,.right{
    width: 50%;
    margin-top: 15px;

}
a:hover{
    text-decoration: none;
    color: #fc7c19;
}
.btn:hover{
    color: #fc7c19;
    background-color: #000;
    text-decoration: none;
}
.table td{
   border: black;
   border-width: 1px;
   border-style: solid;
   border-collapse: collapse;
}
.account-title i{
    font-size: 30px;
    color: var(--cam);
    padding-right: 15px;
}
.btn{
    width: max-content;
    padding: 7px 15px;
    height: 40px;
    margin-top: 10px;
}
.form-group input{
    padding: 7px 15px;
}
.account-title{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fc7c19;
}
.account-title h3{
    text-transform: uppercase;
}
/* end member css */
/* register css */
/* *{
    background-color: black;
    color: #fc7c19;
} */
.account-title{
    border-bottom: 1px solid #fc7c19;
}
.or{
    color: black;
}
.btn{
    width: 100%;
}
.btn-custom{
    background-color: black;
    color: #fc7c19;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 12px;
    padding: 7px 15px;
    border: none;
}
.btn-social{
    text-transform: uppercase;
}
.btn-social i{
    padding-right: 7px;
}
a{
    text-decoration: none;
}
.btn:hover {
    box-shadow: none;
    top: 15px;
    color: black;
    background-color: #fc7c19;
  }
.account-title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.account-title h3{
    text-transform: uppercase;
}
.apple{
    background-color: #000;
    color: white;
    padding: 7px 15px;
    border: none;
    margin-top: 5px;
}
.back-page{
    margin-bottom: 15px;
}
.back-page i{
    padding-right: 10px;
}
/* end css register */
/* css compare */

/* end css compare */