<!DOCTYPE html>
<html lang="en" ng-app="demoApp" ng-controller="DemoCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="icon" href="IMG/logo/s.jpg">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="CSS/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.theme.default.min.css">

    <!-- custom-css -->
    <link rel="stylesheet" href="CSS/custom-2.css">
</head>
<body>
    <span class="back-to-top">
        <div class="text-center">
            <i class="fas fa-angle-up"></i> 
        </div>
    </span>
    <!-- header  -->
    <div class="menu-pc">
        <div class="menu-left">
            <div class="">
                <div class="circle-left">
                    <div class="main-menu-left">
                        <ul>
                            <li><a href="home.html">Trang chủ</a></li>
                            <li id="sub_menu"><a href="product.html">Sản phẩm</a>
                                <ul id="submenu " class="">
                                    <li><a href="product.html">iPhone</a></li>
                                    <li><a href="product.html">Samsung</a></li>
                                    <li><a href="product.html">Phụ kiện </a></li>
                                    <li><a href="product.html">Phụ kiện </a></li>

                                </ul>
                            </li>
                            <li><a href="about.html">Về chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="logo text-center">
            <div class="">
                <img src="IMG/logo/s.jpg" alt="" class="rounded-circle logo" style="width: 50px;">
            </div>
            
        </div>
        <div class="menu-right">
            <div class="circle-right">
                <div class="main-menu-right">
                    <ul>
                        <li><a href="contact.html">Liên hệ</a></li>
                        <li class="mem">
                            <a href="member.html">Thành viên</a>
                            
                        </li>
                         <li><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-mobile">
        <div class=" text-left">
            <btn id="click-menu" class="btn btn-menu-mobile">
                <i class="fas fa-bars"></i>
            </btn>
            <div class=" main-menu-mobile" id="circle-left-menu">
                <div class="box">
                    <ul>
                        <li><a href="home.html">Trang chủ</a></li>
                        <li><a href="product.html">Sản phẩm</a></li>
                        <li><a href="about.html">Về chúng tôi</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                        <li><a href="member.html">Thành viên</a></li>
                        <li><a href="cart.html">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <!-- end-header -->
    <!-- page -->
        <!-- carousel -->
        <div class="container">
            
            <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
                <!-- <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul> -->
    
            <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="IMG/banner/banner_1.jpg" alt="Los Angeles" width="100%" height="500">
                    </div>
                    <div class="carousel-item">
                         <img src="IMG/banner/banner_2.jpg" alt="Chicago" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="IMG/banner/banner_3.jpg" alt="New York" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="IMG/banner/banner_4.jpg" alt="New York" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="IMG/banner/banner_5.jpg" alt="New York" width="1100" height="500">
                    </div>

                </div>
    
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon" ></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon" style="color: #fc7c19;"></span>
            </a>
            </div>
        </div>
        <!-- end carousel -->
        <!-- iphone -->
        <!-- product -->
        <div class="container">
            <div class="product_container">
                <div class="product_title">
                    <h3><i class="fab fa-apple"></i><a href="product.html">Apple</a> </h3>
                </div>
                <div class="item_container">
                    
                    <div class="row">
                        <!-- new item -->
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in list_iphone">
                            
                            <div class="thumbnail   border-01">

                                
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img ng-src="{{product.image}}" alt="" class="img-fluid">
                                        </div>
                                        <div class="flip-card-back">
                                            <span>{{product.name}}</span>
                                            <span>{{product.price}}</span> 
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <!-- end new item -->
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- end iphone -->
        <!-- product -->
        <div class="container">
            <div class="product_container">
                <div class="product_title">
                    <h3><i class="fab fa-android"></i><a href="product.html">Samsung</a> </h3>
                </div>
                <div class="item_container">
                    
                    <div class="row">
                        <!-- new item -->
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in list_samsung">
                            <div class="thumbnail   border-01">

                                
                                <div class="flip-card-2">
                                    <div class="flip-card-inner-2">
                                        <div class="flip-card-front-2">
                                            <img ng-src="{{product.image}}" alt="" class="img-fluid">
                                        </div>
                                        <div class="flip-card-back-2">
                                            <span>{{product.name}}</span>
                                            <span>{{product.price}}</span> 
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                        </div>
                        <!-- end new item -->
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- blog -->

        <div class="container">
            <div class="product_title">
                <h3><i class="fas fa-mobile-alt"></i>Tin tức về điện thoại </h3>
            </div>
            <div class="row">
                
                <div class="col-lg-3">
                    <div class="blog_container blog-1 khung-img">
                     <img src="IMG/Samsung/galaxynote10.jpg" alt="" class="img-fluid">
                    </div>
                </div>
               <div class="col-lg-3">
                   <div class="blog_container blog-1 khung-img">
                    <img src="IMG/Samsung/banner_7bai-57.jpg" alt="" class="img-fluid">
                   </div>
               </div>
               <div class="col-lg-3">
                    <div class="blog_container blog-1 khung-img">
                        <img src="IMG/iPhone/ios14__djivkarbz3gy_large_2x.jpg" alt="" class="img-fluid">
                     </div>
                </div>
                <div class="col-lg-3">
                    <div class="blog_container blog-1 khung-img">
                     <img src="IMG/Samsung/galaxynote10.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div> 
    <!-- end-page -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="text-center">
                Copyright <i class="far fa-copyright"></i> 2020 by <span>Hoa Thuy Tien & Le Quang Huy</span> All rights reserved
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="CSS/OwlCarousel/dist/owl.carousel.min.js"></script>
     <!-- custom-js -->
    <script src="js/all-in-one.js"></script>
</body>
</html>        