<!DOCTYPE html>
<html lang="en" ng-app="demoApp" ng-controller="DemoCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" href="IMG/logo/s.jpg">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="CSS/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.theme.default.min.css">

    <!-- custom-css -->
    <link rel="stylesheet" href="CSS/custom-2.css">
</head>
<body>
    <span class="back-to-top">
        <div class="text-center">
            <i class="fas fa-angle-up"></i> 
        </div>
    </span>
    <!-- header  -->
    <div class="menu-pc">
        <div class="menu-left">
            <div class="">
                <div class="circle-left">
                    <div class="main-menu-left">
                        <ul>
                            <li><a href="home.html">Trang chủ</a></li>
                            <li><a href="product.html">Sản phẩm</a></li>
                            <li><a href="about.html">Về chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="logo text-center">
            <div class="">
                <img src="IMG/logo/s.jpg" alt="" class="rounded-circle logo" style="width: 50px;">
            </div>
            
        </div>
        <div class="menu-right">
            <div class="circle-right">
                <div class="main-menu-right">
                    <ul>
                        <li><a href="contact.html">Liên hệ</a></li>
                        <li>
                            <a href="member.html">Thành viên</a>
                        </li>
                        <li><a href="cart.html"><i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-mobile">
        <div class=" text-left">
            <btn id="click-menu" class="btn btn-menu-mobile">
                <i class="fas fa-bars"></i>
            </btn>
            <div class=" main-menu-mobile" id="circle-left-menu">
                <div class="box">
                    <ul>
                        <li><a href="home.html">Trang chủ</a></li>
                        <li><a href="product.html">Sản phẩm</a></li>
                        <li><a href="about.html">Về chúng tôi</a></li>
                        <li><a href="contact.html">Liên hệ</a></li>
                        <li><a href="member.html">Thành viên</a></li>
                        <li><a href="cart.html">Giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <!-- end-header -->
    <!-- page -->
   <div class="container">
       <div class="row">
           <div class="col-lg-3">
                <div class="menu_product  page_border">
                <nav>
                    <ul>
                        <li><a href="#iphone-8">iPhone 8/8 plus</a></li>
                        <li><a href="#iphone-x">iPhone X</a></li>
                        <li><a href="#iphone-11">iPhone 11</a></li>
                        <li><a href="#iphone-11_pro">iPhone 11 Pro/Pro Max</a></li>
                        
                    </ul>
                </nav>
                </div>
           </div>
           <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-product" onclick="show()">Tìm kiếm sản phẩm</button>
                    </div>
                    <div id="table-search-result" class="hidden">
                        <div class="col-lg-12">
                            <input type="text" placeholder="Nhập sản phẩm bạn muốn tìm kiếm" ng-model='search_product' style="width:80%">
                            <button class="btn-cancel" onclick="hide()"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="col-lg-12">
                            <table class="table-bordered table-search" style="width: 100%;">
                                <tr>
                                    <td style="text-align: center;">STT</td>
                                    <td style="text-align: center;">Tên sản phẩm</td>
                                    <td style="text-align: center;">Giá bán</td>
                                    <td style="text-align: center;">Chi tiết</td>
                                </tr>
        
                                <tr ng-repeat="product in list_product | filter: {name:search_product}">
                                    <td style="text-align: center;">{{$index+1}}</td>
                                    <td >{{product.name}}</a></td>
                                    <td style="text-align: center;">{{product.price}}</td>
                                    <td style="text-align: center;"><a href="iphone.html"><i class="fas fa-info-circle"></i></a></td>
                                </tr>    
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <!-- new item -->
                    <div id="iphone_8" class="col-xs-6 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in iphone_8">
                        <div class="thumbnail p_container demo-fly ">
                            <img ng-src="{{product.image}}" alt="" class="img-fluid">
                            <div class="prd-ftr">
                                <span class="hot">hot</span>
                                <span class="sale">-5%</span>
                                
                            </div>
                            <div class="fly">
                                <div class="fly-text">
                                    <a href="iphone.html"  style="padding-left: 15px;">
                                        <span class=""><i class="fas fa-mobile "></i></span>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="caption">
                                    <h3>{{product.name}}</h3>
                                    <p>
                                        {{product.price}}
                                    </p>
                            </div>
                        </div>
                        
                        
                    </div>
                    <!-- end new item -->
                </div>
                <div class="row">
                    <!-- new item -->
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" ng-repeat="product in list_product_x">
                        <div class="thumbnail p_container demo-fly ">
                            <img ng-src="{{product.image}}" alt="" class="img-fluid">
                            <div class="fly">
                                <div class="fly-text">
                                    <a href="iphone.html"  style="padding-left: 15px;">
                                        <span class=""><i class="fas fa-mobile "></i></span>
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="caption">
                                    <h3>{{product.name}}</h3>
                                    <p>
                                        {{product.price}}
                                    </p>
                            </div>
                        </div>
                        
                        
                    </div>
                    <!-- end new item -->
                </div>
                
           </div>
        </div>
   </div>
    <!-- end-page -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="text-center">
                Copyright <i class="far fa-copyright"></i> 2020 by <span>Hoa Thuy Tien & Le Quang Huy</span> All rights reserved            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="CSS/OwlCarousel/dist/owl.carousel.min.js"></script>
     <!-- custom-js -->
    <script src="js/all-in-one.js"></script>
</body>
</html>        